@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet')





* {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}

header,section {
    overflow-x:hidden;
}

:root{
    --Sniglet-font:"Sniglet", cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient: linear-gradient(
        to bottom,
        #3a1c71,#d76d77, #ffaf7b
    );
    --bggradient2: linear-gradient(
        to bottom,
        #42275a,#734b6d
    );
    --light-gray:rgba(255,255,255,0)
}

.header{
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
}
header{
    background: #dd2476;
    background: var(--bggradient);
}

.dropdown-menu{
    display: none;
    position:absolute;
    background-color: blanchedalmond !important;
    min-width: 160px !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2) !important; 
    z-index: 1;
}

.dropdown-menu a{
   
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
}

.dropdown-menu a:hover{
    background: #ddd !important;
}

.nav-item a:hover{
    background:  #d76d77 !important;
}



.dropdown-menu:hover .dropdown-menu{
    display: block !important;
}

header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}

.navbar-brand .a:hover{
    color:black;
}

header .row.col-md-5{
    padding:4.2vmin;
}

header .row.col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik) !important;
}

header .row.col-md-5 img{
    width:90%;

}

header.container.col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1{
    font-size: 8.5vmin;
    font-weight: bold;
    padding:0.1em 0em;

}

header .container .col-md-7 p{
    padding: 1vmin 5vimn;
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
}

/*section 1*/

.section-1{
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img{
    opacity:0.8;
    width:90%;
    border-radius: 50px;
}

.section-1 .row.col-md-6:last-child{
    position: relative;
}

.section-1 .container.row.col-md-6.panel{
    position: absolute;
    top:7vmin;
    left:18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 55vin 15vmin 10vmin;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.2);

}

.section-1 .container.row.col-md-6.panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size:2em;
}

.section-1 .row.col-md-6.panel p{
    font-size:0.9em;
    color:rgba(0, 0, 0, 0.4);
}

/*section 2*/

.cover{
    width: 100%;
    height:70vmin;
    background: url('..//asset/sky_512.webp');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content{
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width:100%;
    padding-top: 19vmin;
}

.cover .content > h1{
   font-family: var(--Patua);
   font-size: 6vmin;
   color: rgb(207, 186, 206);
}

.cover .content>p{
    font-family:var(--Rubik);
    font-size:2vmin;
    color: #dcd4d4;
}

.purchase>h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p{
    color:var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card{
    width:22rem;
    margin:3vmin;

}

.cards>div{
    padding:0;
    margin:0;

}

.cards .title{
    background:  rgba(254, 248, 171, 0.19) ;
    padding:1.4rem 2.5rem;
    font-size: 2vmin;
    
}

.card .card-text{
    padding:2.5rem 3rem;
    color:var(--light-black);

}

.card-body .pricing{
    background: rgba(246, 178, 240, 0.19) ;
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/*section 4*/

.section-4 .container h1{
    font-size: 6vimn;
    padding-top: 14vmin;
}

.section-4 .team{
    padding: 20vmin 4vmin;

}

.section-4 .card{
    width: 22rem;
    margin-top: 10vmin;
    
}

.section-4 .card .card-body>a{
    font-size: 1.5em;
}

.section-4 .carousel-item{
    padding-left: 3rem;
}

.border-radius{
    border-radius: 340px;
    width: 60%;
}

/*footer*/

footer{
    background: var(--bggradient2);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer input::placeholder{
    color: white !important;
}

footer .input-group ,.input-group-text{
    background: var(--bggradient);

}

footer .column i{
    color:#ffaf7b;
}

footer .column i+i{
    padding: 0 0.5em;
}

#navbarNavDropdown:hover{
    color: #d76d77;
}

#nav.fixed {
    position: fixed;
    box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.5);
  }
  #nav.fixed ul li img {
    height: 36px;
  }
  #nav.fixed ul li a {
    font-size: 14px;
  }